<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>HomePage</title>
</head>
<body>
    <main>
        <!-- Top  Navigation Start   -->
        <div class="topnav" id="myTopnav">
            <div class="topnav-left">
                <a href="">LOGO</a>
            </div>
            <div class="topnav-center">
                <a href="" class="active">Home</a>
                <a href="">News</a>
                <a href="">Contact</a>
                <a href="">About</a>
            </div>
            <div class="topnav-right">
                <button id="login-btn" type="button" class="log"> Login </button>
                <button id="signUp-btn" type="button" class="reg"> Signup </button>
            </div>
            <a href="" class="icon" id="menuIcon">
                <i class="fa fa-bars"></i>
            </a>
        </div>
         <!-- Top Navigation End  -->
        <h1>Real Time Chat Application</h1>
        <!-- SignUp Modal  -->
        <div id="signup-form-div" class="modal">
            <div class="modal-content" >
                <span class="close">&times;</span>
                <form class="form" id="signup-form" action="/user" method="POST">
                    <p class="title">Register </p>
                    <p class="message">Signup now and get full access to our app. </p>
                    <div class="flex">
                        <label for="firstName">
                            <input id="firstName" required="" placeholder="" type="text" class="input">
                            <span>Firstname</span>
                        </label>
                
                        <label for="lastName">
                            <input id="lastName" required="" placeholder="" type="text" class="input">
                            <span>Lastname</span>
                        </label>
                    </div>  
                            
                    <label for="email">
                        <input id="email" required="" placeholder="" type="email" class="input">
                        <span>Email</span>
                    </label> 

                    <label for="phoneNo">
                        <input id="phoneNo" required="" placeholder="" type="tel" class="input" pattern="[0-9]+">
                        <span>Phone NO</span>
                    </label>
                        
                    <label for="newPassword">
                        <input id="newPassword" required="" placeholder="" type="password" class="input">
                        <span>Password</span>
                    </label>
                    <label for="confirmPassword">
                        <input  id="confirmPassword" required="" placeholder="" type="password" class="input">
                        <span>Confirm password</span>
                    </label>
                    <button id="signUp-Submit-Btn" class="submit" disabled>Submit</button>
                    <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
                </form>
            </div>
        </div>
        <!-- Login Modal  -->
        <div id="login-form-div" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="login-form" class="form" action="/user" method="POST">
                    <p class="title">Login</p>
                    <p class="message">Sign in to access your account.</p>
                    <label>
                        <input id="login-phoneNo" required="" placeholder="" type="tel" class="input" pattern="[0-9]+">
                        <span>Phone No</span>
                    </label>
                
                    <label>
                        <input id="login-password" required="" placeholder="" type="password" class="input">
                        <span>Password</span>
                    </label>
                    <button class="submit">Login</button>
                    <button id="forgotPasswordbtn" type="button" class="submit"> Forgot Password </button>
                    <p class="signin">Don't have an account? <a href="#">Sign up</a></p>
                </form>                
            </div>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
    <script src="socket.js"></script>
    <script src="user.js"></script>
    <script src="message.js"></script>
</body>
</html>